@mixin flex-container($display, $position, $align) {
    display: $display;
    justify-content: $position;
    align-items: $align;
}

@mixin avatar($size, $radius) {
    width: $size;
    height: $size;
    border-radius: $radius;
}


@mixin flex-box($direction, $gap, $margin) {
    flex-direction: $direction;
    gap: $gap;
    margin: $margin;
}

@mixin padding-radius($padding, $radius) {
    padding: $padding;
    border-radius: $radius;
}